@font-face {
    font-family: "BodoniMOda";
    src: url("Assets/Fonts/BodoniModa/BodoniModa-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: "BodoniMOda-Italic";
    src: url("Assets/Fonts/BodoniModa/BodoniModa-VariableFont_opsz\,wght.ttf");
}
:root{
    --color60: #F6D4BA;
    --color30: #F3B391;
    --color10: #FEFADC;
}

body{
    margin: 0;
    position: relative;

    background-color: var(--color60);
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70vw;
    height: 30vh;

    background-color: var(--color30);
}